@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-light: #eef2fe;
$text-light: #eef2ff;
$indigo-main: #4f46e5;
$indigo-dark: #3730a3;

body {
    background-color: $bg-light;
}

header a {
    color: $text-light;
    font-weight: 600;
    @apply text-xl
}

main {
    @apply mx-10 md:px-28 lg:px-40 xl:px-60 min-h-full pt-10 mb-10
}

.nav-item {  
    color: $text-light;
    background-color: $indigo-main;
    
    h3 {
        @apply text-3xl font-bold
    }
    p {
        @apply text-lg
    }
    @apply w-96 h-64 rounded-xl flex items-center justify-center flex-col gap-3 transition-colors
}
.nav-item:hover{
    border-color: $indigo-main;
    color: $indigo-main;
    p {
        font-weight: 500;
    }
    @apply border-4 bg-transparent
}

.home-desc {
    h2 {
        color: $indigo-main;
        font-weight: 700;
        @apply text-6xl mb-5 leading-[1.1]
    }
    p {
        color: $indigo-dark;
        font-weight: 500;
        @apply text-2xl
    }
}

.create {
    color: $indigo-main;
    h2 {
        font-weight: 700;
        @apply text-4xl
    }
}
.nav-item-create {
    border-color: $indigo-main;
    h3 {
        color: $indigo-main;
        font-weight: 500;
        @apply text-2xl 
    }
    .icon {
        stroke: $indigo-main;
    }
    @apply border-4 h-20 w-96 rounded-lg flex items-center justify-center gap-2 transition-colors
}
.nav-item-create:hover {
    background-color: $indigo-main;
    h3 {
        color: $text-light
    }
    .icon {
        stroke: $text-light;
    }
}

.form {
    h2 {
        color: $indigo-main;
        font-weight: 600;
        @apply text-3xl text-center
    }
    @apply max-w-2xl mx-auto
}
.form-item {
    @apply flex flex-col gap-1
}
.input, textarea {
    @apply block w-full rounded-lg border-0 py-2 px-3.5 ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 focus:outline-none
}

.btn {
    background-color: $indigo-main;
    color: $text-light;
    @apply py-3 px-8 inline-flex w-fit items-center justify-center rounded-lg transition-all disabled:opacity-60 disabled:pointer-events-none
}
.btn:hover {
    background-color: $indigo-dark;
}

.requests {
    h2 {
        color: $indigo-main;
        font-weight: 600;
        @apply text-4xl mb-6
    }
}
.requests-container {
    align-items: flex-start;
    @apply flex gap-6 flex-wrap
}
.request-card {
    border-color: $indigo-main;
    color: $indigo-dark;
    .btn {
        color: $indigo-dark;
        background-color: transparent;
        @apply p-2.5
    }
    .btn:hover {
        background-color: $text-light;
    }
    .type {
        color: $indigo-main
    }
    .icon {
        stroke: $indigo-dark;
        @apply h-6 w-6 min-h-[1.5rem] min-w-[1.5rem]
    }
    @apply p-4 border-2 rounded-lg w-60 flex flex-col gap-3
}


.delete-alert {
    max-width: 450px;
    color: $indigo-dark;
}

.btn-cancel {
    color: $indigo-dark;
    background-color: transparent;
}
.btn-cancel:hover {
    background-color: $text-light;
}
