@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: #eef2fe;
$text-color: #eef2ff;

.app {
    background-color: $bg-color;
    @apply min-h-screen
}

header a {
    color: $text-color;
    font-weight: 600;
    @apply text-xl
}